:root {
  --black: #414141;
  --white: #fcfcfc;
  --btrswt: #ff6f6f;
  --aqmrne: #48fdfa;
  --alto: #d8d8d8;
  --silver: #b9b9b9;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: "Rubik", Arial, Helvetica, sans-serif;
  color: var(--black, #414141);
  background: var(--white, #fcfcfc);
}
body::-webkit-scrollbar {
  height: 0.3rem;
}
body::-webkit-scrollbar-thumb {
  background: var(--alto, #d8d8d8);
}
body::-webkit-scrollbar-track {
  background: transparent;
}

.cont {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
}

.hdr {
  height: 8rem;
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  justify-content: right;
  align-items: center;
  background: var(--white, #fcfcfc);
}
.hdr-logo {
  width: 10rem;
  height: 10rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.mn-ctgrs {
  padding: 0 1rem;
  height: 8rem;
  position: relative;
  background: var(--btrswt, #ff6f6f);
  display: flex;
  column-gap: 4rem;
  justify-content: center;
  align-items: center;
}
.cont--ctg {
  padding: 0.5rem;
  column-gap: 4rem;
  flex-flow: row nowrap;
  justify-content: left;
}
.cont--ctg::-webkit-scrollbar {
  height: 0.3rem;
}
.cont--ctg::-webkit-scrollbar-thumb {
  background: var(--alto, #d8d8d8);
}
.cont--ctg::-webkit-scrollbar-thumb:hover {
  background: var(--silver, #b9b9b9);
}
.cont--ctg::-webkit-scrollbar-track {
  background: transparent;
}
.cont--ctg::after {
  content: "";
  position: absolute;
  right: 0;
  width: 2rem;
  height: 50%;
  background: linear-gradient(to right, #00000000 0%, 40%, var(--btrswt) 70%);
}
.ctg {
  padding: 0 1.5rem;
  width: auto;
  height: 4rem;
  background: var(--white);
  border-radius: 1rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.ctg:hover,
.ctg:focus-visible {
  background: #fcfcfcd7;
}
.ctg-img {
  margin-right: 1rem;
  height: 100%;
  object-fit: cover;
}
.ctg-label {
  height: 100%;
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Rubik", Arial, Helvetica, sans-serif;
  font-weight: 700;
  color: var(--black);
}
