.banner--main {
  width: 100%;
  height: 85vh;
  overflow: hidden;
}
.banner--main::before {
  content: "";
  width: 100%;
  height: 1rem;
  position: absolute;
  background: linear-gradient(0deg, #00000000 0%, 40%, #fcfcfc 70%);
  z-index: 999;
}
.banner--main::after {
  content: "";
  width: 100%;
  height: 1rem;
  position: absolute;
  bottom: 0;
  background: linear-gradient(180deg, #00000000 0%, 40%, #fcfcfc 70%);
  z-index: 999;
}
.banner--main-hdng {
  padding: clamp(1.5rem, 3vw, 2rem) clamp(1.5rem, 3vw, 3.5rem);
  top: 50%;
  left: 50%;
  background: #ff6f6f;
  white-space: nowrap;
  font-size: clamp(2rem, 6vw, 5rem);
  color: var(--white);
  transform: translate(-50%, -50%);
}
.cont--hov_figs {
  justify-content: initial;
  align-items: initial;
}
.hov_fig {
  width: min(100%, 25rem);
  position: absolute;
  object-fit: cover;
  border-radius: 1rem;
  opacity: 0;
}
.hov_fig[data-cnt="home_1"] {
  bottom: clamp(20rem, 50vw, 45rem);
  right: 25rem;
  animation: hov_fig_anim 30s ease-in-out infinite;
}
.hov_fig[data-cnt="home_2"] {
  top: clamp(0rem, 15vw, 20rem);
  right: clamp(55rem, 40vw, 70rem);
  z-index: 1;
  animation: hov_fig_anim 20s 3s ease-in-out infinite;
}
.hov_fig[data-cnt="home_4"] {
  bottom: clamp(0rem, 10vw, 10rem);
  right: 10rem;
  animation: hov_fig_anim 30s 7s ease-in-out infinite;
}
.hov_fig[data-cnt="home_5"] {
  bottom: -5rem;
  left: clamp(55rem, 50vw, 65rem);
  animation: hov_fig_anim 20s 9s ease-in-out infinite;
}
.hov_fig[data-cnt="home_8"] {
  top: -20rem;
  right: clamp(65rem, 50vw, 105rem);
  animation: hov_fig_anim 30s 15s ease-in-out infinite;
}
.hov_fig[data-cnt="home_9"] {
  top: clamp(35rem, 40vw, 45rem);
  right: 45rem;
  animation: hov_fig_anim 20s 1s ease-in-out infinite;
}
.hov_fig[data-cnt="home_11"] {
  bottom: clamp(0rem, 30vw, 20rem);
  right: clamp(0rem, 20vw, 40rem);
  animation: hov_fig_anim 30s 17s ease-in-out infinite;
}
.hov_fig[data-cnt="home_12"] {
  bottom: -20rem;
  left: clamp(0rem, 10vw, 5rem);
  animation: hov_fig_anim 20s ease-in-out infinite;
}
.hov_fig[data-cnt="home_14"] {
  bottom: clamp(25rem, 50vw, 35rem);
  left: -5rem;
  z-index: -1;
  animation: hov_fig_anim 30s 10s ease-in-out infinite;
}
.hov_fig[data-cnt="home_15"] {
  top: clamp(0rem, 10vw, 10rem);
  right: -5rem;
  animation: hov_fig_anim 20s 14s ease-in-out infinite;
}
.hov_fig[data-cnt="home_16"] {
  bottom: 10rem;
  right: clamp(100rem, 50vw, 150rem);
  animation: hov_fig_anim 30s 5s ease-in-out infinite;
}
@keyframes hov_fig_anim {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.banner--ctgrs {
  height: clamp(50rem, 90vw, 90rem);
}
.banner--ctgrs-hdng_img {
  width: clamp(40rem, 70vw, 90rem);
  position: absolute;
  top: 50%;
  left: min(-10%, -20rem);
  transform: translate(0%, -50%);
  object-fit: cover;
}
@media screen and (max-width: 480px) {
  .banner--ctgrs-hdng_img {
    top: 75%;
  }
}
.banner--ctgrs-hdng {
  margin: 0 2rem;
  padding: clamp(1.5rem, 3vw, 2rem) clamp(1rem, 3vw, 3.5rem);
  top: 20%;
  right: clamp(0%, 10vw, 10%);
  background: var(--btrswt);
  font-size: clamp(2rem, 4vw, 4rem);
  color: var(--white);
}
.pastry-ctgrs {
  margin-right: 2rem;
  width: min(50%, 50rem);
  position: absolute;
  top: 50%;
  right: clamp(0%, 10vw, 10%);
  z-index: 0;
}
.cont-pastry_ctgrs {
  padding: 0.5rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, clamp(10rem, 20vw, 16rem));
  grid-auto-flow: column;
  justify-content: left;
  column-gap: clamp(2rem, 3vw, 4rem);
}
.cont-pastry_ctgrs::after {
  content: "";
  position: absolute;
  right: 0;
  width: 1rem;
  height: 100%;
  background: linear-gradient(90deg, #00000000 0%, 40%, #fcfcfc 70%);
}
.cont-pastry_ctgrs::-webkit-scrollbar {
  height: 0;
}
.pastry {
  padding: 1rem;
  width: clamp(10rem, 20vw, 16rem);
  height: clamp(12rem, 20vw, 18rem);
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  background: #d8d8d82a;
  border-radius: 1rem;
  text-decoration: none;
  color: var(--btrswt, #ff6f6f);
}
.pastry:last-of-type {
  margin-right: 2rem;
}
.pastry:hover,
.pastry:focus-visible {
  background: var(--btrswt, #ff6f6f);
  color: var(--white, #fcfcfc);
}
.pastry-img {
  width: clamp(5rem, 10vw, 8rem);
  height: clamp(5rem, 10vw, 8rem);
  border-radius: 1rem;
  object-fit: cover;
}
.pastry-txt {
  margin-top: 2rem;
  font-size: clamp(1.4rem, 2vw, 2rem);
  font-weight: 700;
}

.banner--prps {
  height: clamp(40rem, 60vw, 50rem);
  overflow: hidden;
}
.banner--prps-hdng_img {
  width: clamp(50rem, 60vw, 70rem);
  height: clamp(50rem, 60vw, 70rem);
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, 0%);
}
.banner--prps-hdng {
  width: 100%;
  left: 50%;
  transform: translate(-50%, 0%);
  font-size: clamp(2rem, 5vw, 5rem);
  color: var(--btrswt, #ff6f6f);
}
